/*before*/
.site-container:before,
.site-header:before,


.wrap:before {
	content: " ";
	display: table;
}



/*after*/
.site-container:after,
.site-header:after,
.wrap:after {
	clear: both;
	content: " ";
	display: table;
}


/* header */

.site-header {
	background-color: #000;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}


/* Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
	background-color: #000;
}

.wrap {
	margin: 0 auto;
	max-width: 1000px;
}

.title-area {
	float: left;
	width: 340px;
}

.header-full-width .title-area {
	width: 100%;
}


.site-header .widget-area {
	float: right;
	text-align: right;
	width: 645px;
}



.responsive-menu-icon {
	cursor: pointer;
	display: none;
	margin-bottom: 10px;
}

.responsive-menu-icon::before {
	color: #fff;
	content: "\f333";
	font: normal 24px/1 'dashicons';
	margin: 0 auto;
}



/*
Site Navigation
---------------------------------------------------------------------------------------------------- */


.genesis-nav-menu {
	font-family: Montserrat, sans-serif;
	letter-spacing: 1px;
	width: 100%;
}
.genesis-nav-menu .menu-item {
	display: inline-block;
	text-align: left;
}

.genesis-nav-menu a {
	color: #fff;
	display: block;
	font-family: Montserrat, sans-serif;
	padding: 27px 15px;
}


.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
}










/* Parallax Pro Green
--------------------------------------------- */
 .entry-title a { color: #000; }

 .button,
 .button:hover,
 .genesis-nav-menu a,
 .home-odd a:hover,
 .site-footer a,
{
	color: #fff;
	text-decoration: none;
}

 a:visited,
 .entry-title a:visited,
 .site-footer a:visited { color: #576637; }

 a:focus,
 .entry-title a:focus,
 .site-footer a:focus { color: #000; }

 a:hover,
 .entry-title a:hover,
 .site-footer a:hover { color: #733B90; }

 a:active,
 .entry-title a:active,
 .site-footer a:active { color: #8D0000; }

 input:hover[type="button"],
 input:hover[type="reset"],
 input:hover[type="submit"],
 .archive-pagination li a:hover,
 .archive-pagination .active a,
 .button:hover,
 .a.button:hover {
	background-color: #733B90 !important;
}

 .footer-widgets {
	background-color: #2B2D30;
}

.site-title__img{
    margin-top: 9px;
}
.genesis-nav-menu a:link,
.genesis-nav-menu a:visited,
.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu a:active { text-decoration: none; }

.genesis-nav-menu a:link { color: #fff; }
.genesis-nav-menu a:visited { color: #fff; }
.genesis-nav-menu a:focus { color: #DF7474; }
.genesis-nav-menu a:hover { color: #AC77D1; }
.genesis-nav-menu a:active { color: #DF7474; }
.genesis-nav-menu .current-menu-item > a { color: #8CBD2E; }



@media only screen and (max-width: 1140px) {

	.site-inner,
	.wrap {
		max-width: 920px;
	}
}



/* MEDIA SCREEN MAX */
@media only screen and (max-width: 960px) {

	.site-inner,
	.wrap {
		max-width: 768px;
	}

	.site-header {
		padding-bottom: 10px;
		position: static;
	}

	.content,
	.sidebar,
	.site-header .widget-area,
	.title-area {
		width: 100%;
	}

	.site-header .widget-area,
	.site-title {
		text-align: center;
	}

	.site-header .genesis-nav-menu.responsive-menu .current-menu-item > a,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu li a,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu li a:hover,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu,
	.site-header .genesis-nav-menu.responsive-menu > .menu-item-has-children:before,
	.site-header .genesis-nav-menu.responsive-menu > li:hover > a,
	.site-header .genesis-nav-menu.responsive-menu a:hover {
		color: #fff;
	}

	.nav-primary .responsive-menu-icon {
		margin-top: 20px;
	}

	.genesis-nav-menu.responsive-menu .menu-item,
	.responsive-menu-icon {
		display: block;
	}


	.genesis-nav-menu.responsive-menu {
		display: none;
	}

	.nav-primary .responsive-menu-icon {
		margin-top: 20px;
	}

	.genesis-nav-menu.responsive-menu .menu-item,
	.responsive-menu-icon {
		display: block;
	}

	.genesis-nav-menu.responsive-menu .menu-item:hover {
		position: static;
	}

	.genesis-nav-menu.responsive-menu li.current-menu-item > a,
	.genesis-nav-menu.responsive-menu .sub-menu li.current-menu-item > a:hover,
	.genesis-nav-menu.responsive-menu li a,
	.genesis-nav-menu.responsive-menu li a:hover {
		border: none;
		display: block;
		padding: 20px;
		text-transform: none;
		text-align: center;
	}

	.genesis-nav-menu.responsive-menu .menu-item-has-children {
		cursor: pointer;
	}

	.genesis-nav-menu.responsive-menu .menu-item-has-children > a {
		margin-right: 60px;
	}

	.genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
		content: "\f347";
		float: right;
		font: normal 20px/1 'dashicons';
		height: 20px;
		padding: 15px 20px;
		right: 0;
		text-align: right;
		z-index: 9999;
	}

	.genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
		content: "\f343";
	}

	.genesis-nav-menu.responsive-menu > .menu-item > .sub-menu {
		display: none;
	}

	.genesis-nav-menu.responsive-menu .sub-menu {
		background-color: rgba(255, 255, 255, 0.05);
		left: auto;
		opacity: 1;
		position: relative;
		-moz-transition:    opacity .4s ease-in-out;
		-ms-transition:     opacity .4s ease-in-out;
		-o-transition:      opacity .4s ease-in-out;
		-webkit-transition: opacity .4s ease-in-out;
		transition:         opacity .4s ease-in-out;
		width: 100%;
		z-index: 99;
	}

	.genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
		background-color: transparent;
		margin: 0;
		padding-left: 25px;
	}

	.genesis-nav-menu.responsive-menu .sub-menu li a,
	.genesis-nav-menu.responsive-menu .sub-menu li a:hover {
		padding: 12px 20px;
		position: relative;
		text-transform: none;
		width: 100%;
	}

	.genesis-nav-menu.responsive-menu .current-menu-item > a,
	.genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
	.genesis-nav-menu.responsive-menu > li.menu-item-has-children:hover > a,
	.genesis-nav-menu.responsive-menu a:hover {
		background: none;
	}

	.site-header .genesis-nav-menu.responsive-menu .current-menu-item > a,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu li a,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu li a:hover,
	.site-header .genesis-nav-menu.responsive-menu .sub-menu,
	.site-header .genesis-nav-menu.responsive-menu > .menu-item-has-children:before,
	.site-header .genesis-nav-menu.responsive-menu > li:hover > a,
	.site-header .genesis-nav-menu.responsive-menu a:hover {
		color: #fff;
	}   
  
}




@media only screen and (max-width: 768px) {

	.home-section-1,
	.home-section-3,
	.home-section-5 {
		background-image: none !important;
	}

	.site-inner,
	.wrap {
		max-width: none;
		width: 100%;
	}

	.site-inner,
	.wrap {
		padding: 0 5%;
	}
    
    .parallax-home .simple-social-icons ul li {
		margin: 0 20px 20px !important;
	}

}









/********* BODY  ******/


.entry {
	margin-bottom: 100px;
}

.sidebar .entry {
	margin-bottom: 40px;
}

.entry-content ol,
.entry-content ul {
	margin-bottom: 30px;
	margin-left: 40px;
}

.entry-content ol > li {
	list-style-type: decimal;
}

.entry-content ul > li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}


.full-width-content img.pull-left {
	float: left;
	margin: 0 40px 40px -200px;
}

.full-width-content img.pull-right {
	float: right;
	margin: 0 -200px 40px 40px;
}

.full-width-content img.pull-left {
	float: left;
	margin: 0 40px 40px -200px;
}

.full-width-content img.pull-right {
	float: right;
	margin: 0 -200px 40px 40px;
}



.site-inner {
    margin: 0 auto;
	max-width: 1000px;
	clear: both;
	margin-top: 70px;
    margin-bottom: 70px;
}

.parallax-home .site-inner {
	margin-top: 70px;
	max-width: 100%;
}

.parallax-landing .site-inner {
	margin-top: 100px;
}




/** footer */

 .simple-social-icons ul li a, .simple-social-icons ul li a:hover, .simple-social-icons ul li a:focus { background-color: #ffffff !important; border-radius: 60px; color: #000000 !important; border: 0px #ffffff solid !important; font-size: 30px; padding: 15px; }  .simple-social-icons ul li a:hover, .simple-social-icons ul li a:focus { background-color: #f04848 !important; border-color: #ffffff !important; color: #ffffff !important; }  .simple-social-icons ul li a:focus { outline: 1px dotted #f04848 !important; }.simple-social-icons svg[class^="social-"],.simple-social-icons svg[class*=" social-"]{display:inline-block;width:1em;height:1em;stroke-width:0;stroke:currentColor;fill:currentColor}.simple-social-icons{overflow:hidden}.simple-social-icons ul{margin:0;padding:0}.simple-social-icons ul li{background:none!important;border:none!important;float:left;list-style-type:none!important;margin:0 6px 12px!important;padding:0!important}.simple-social-icons ul li a{border:none!important;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;display:inline-block;font-style:normal!important;font-variant:normal!important;font-weight:normal!important;height:1em;line-height:1em;text-align:center;text-decoration:none!important;text-transform:none!important;width:1em}.simple-social-icons ul.aligncenter{text-align:center}.simple-social-icons ul.aligncenter li{display:inline-block;float:none}.simple-social-icons .screen-reader-text{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}

.footer-widgets__button{
    margin-bottom: 25px;
}

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

.footer-widgets .widget-title {
	color: #fff;
	font-size: 36px;
}
.footer-widgets .enews-widget input:hover[type="submit"] {
	background-color: #fff;
	color: #000;
}


.footer-widgets {
	background-color: #2B2D30;
	clear: both;
	padding: 50px 0;
	text-align: center;
}

.footer-widgets .widget {
	margin-bottom: 40px;
}

.footer-widgets p:last-child,
.footer-widgets .widget:last-child {
	margin-bottom: 0;
}

.site-header .textwidget {
	margin-top: 27px;
}

#simple-social-icons-3 a:focus
{
	background-color: #000 !important;
	color: #ffffff !important;
}

#simple-social-icons-3 a:hover
{
	background-color: #AC77D1 !important;
	color: #ffffff !important;
}

#simple-social-icons-3 a:active
{
	background-color: #DF7474 !important;
	color: #ffffff !important;
}


.button {
    display: inline-block;
    background-color: #68923A !important;
    border: none;
    color: #fff !important;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 1px;
    padding: .8em 1.2em;
    text-transform: uppercase;
    border-radius: 2em;
    text-decoration: none;
}

body {
    margin: 0;
    
}
.content {
    margin: 0;
    padding: 0;
    color: #555;
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
}


main{
    display: block;
}

.single-content .content {
   font-size: 1.5em;
    padding-bottom: 50px;
} 